html * { margin:0; padding:0;}


#treeMenu {
	/*position:relative;*/
	right:auto;
	left:0px;
	top:0px;
	padding:0px;
	margin:0px;
	width:165px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#786b22;
	height: 128px;
	/*border-top:5px solid*/
}
#treeMenu h2 { font-family:Helvetica, Arial, sans-serif; color:#786b22; margin-bottom:12px; font-size:20px; font-weight:bold;}
#treeMenu ul { list-style:none;}
#treeMenu ul li {background:none; margin:0px 0px; height:20px; line-height:16px; padding:0px 0px 0px;  color:#666666; display:table; clear:both;}
/*#treeMenu ul li span { display:inline-block; float:right; width:10px; height:25px; background:url(treeSplit.png) no-repeat 0px -131px;  cursor:pointer;}*/
#treeMenu ul li a { color:#666666; font-size:12px; padding:2px 0px 2px 0px; display:inline-block;  text-decoration:none;
width:165px; float:left; font-weight:bold; border-bottom:solid 1px #e0dfda;}
/*#treeMenu ul li span.opened { background-position:0px -197px;}*/
	
	#treeMenu ul li div { clear:both; height:auto; min-height:25px; }
	#treeMenu ul li li, #treeMenu ul li li.last
	{ background:none; border:0; margin:0; padding-left:8px; clear:both; display:table; /*background:url(bullet_1.gif) no-repeat 8px 10px; width:100%;*/}
	#treeMenu ul li li{ border-bottom:solid 1px #e0dfda;}
	#treeMenu ul li li.last{ border-bottom:solid 0px #e0dfda;}
	#treeMenu ul li li a, #treeMenu ul li li.last a { color:#888888; font-size:12px; font-weight:normal; padding:5px 0; float:left;  width:auto; text-decoration:none; width:157px;  border-bottom:solid 0px #e0dfda;}
	#treeMenu ul li li a:hover, #treeMenu ul li li.last a:hover
	{ text-decoration:underline; color:#a51c30;}
	 #treeMenu ul li li.actived_link a,#treeMenu ul li li.actived_link a:hover{ color:#a51c30; text-decoration:none;}
	/*#treeMenu ul li li span, #treeMenu ul li li.last span { float:left; display:inline; width:15px; height:20px;  background-position:-10px -263px; cursor:default; }
	#treeMenu ul li li span.closed, #treeMenu ul li li.last span.closed { background-position:-10px -208px; cursor:pointer;}
	#treeMenu ul li li span.closed.opened, #treeMenu ul li li.last span.opened { background-position:-7px -197px; }*/
	#treeMenu li.sub{ width:145px; background:#F8F8F8;}
	#treeMenu li.sub a{ padding-left:10px;}
	#treeMenu ul li li li { border:0;}

